<div class="sidebar-container" dir="rtl">
    <div class="logo">
        <a class="simple-text">
            <span>متجر الملابس</span>
            <i class="pi pi-shopping-bag"></i>
        </a>
    </div>
    <div class="sidebar-wrapper">

        <!-- Navigation Menu -->
        <ul class="nav" *ngIf="loggedInUser">
            <li routerLinkActive="active" 
                *ngFor="let menuItem of menuItems" 
                class="nav-item">
                <ng-container *ngIf="hasPermission(menuItem?.permissions)">
                    <a class="nav-link" [routerLink]="[menuItem.path]">
                        <span>{{menuItem.titleAr || menuItem.title}}</span>
                        <i class="pi" [ngClass]="'pi-' + convertIcon(menuItem.icon)"></i>
                    </a>
                </ng-container>

            </li>
        </ul>

        <!-- Mobile Bottom Menu -->
        <div *ngIf="isMobileMenu()" class="mobile-bottom-menu">
            <div class="mobile-actions">
                <a class="action-item">
                    <i class="pi pi-chart-bar"></i>
                    <span>احصائيات</span>
                </a>
                <a class="action-item">
                    <div class="notification-badge">
                        <i class="pi pi-bell"></i>
                        <span class="badge">5</span>
                    </div>
                    <span>تنبيهات</span>
                </a>
                <a class="action-item">
                    <i class="pi pi-user"></i>
                    <span>الملف الشخصي</span>
                </a>
            </div>
        </div>
    </div>
</div>