<div class="card" dir="rtl">
    <div class="header-section">
        <button pButton type="button" icon="pi pi-arrow-right" class="p-button-text back-button" (click)="goBack()"></button>
        <h2>نموذج أمر الشراء</h2>
    </div>
    <form [formGroup]="purchaseOrderForm" (ngSubmit)="onSubmit()">
  
      <div class="p-field">
        <label for="supplier">المورد</label>
        <input pInputText id="supplier" type="text" formControlName="supplier" placeholder="أدخل اسم المورد"/>
        <small *ngIf="purchaseOrderForm.get('supplier')?.invalid && purchaseOrderForm.get('supplier')?.touched" class="p-error">
          المورد مطلوب
        </small>
      </div>
  
      <div class="p-field p-mb-3">
        <label for="orderDate" class="p-d-block">تاريخ الطلب</label>
        <p-calendar id="orderDate" 
                   formControlName="orderDate" 
                   dateFormat="yy-mm-dd"
                   [showIcon]="true"
                   [appendTo]="'body'"
                   [showOnFocus]="false"
                   styleClass="p-mb-2 p-d-block"></p-calendar>
        <small *ngIf="purchaseOrderForm.get('orderDate')?.invalid && purchaseOrderForm.get('orderDate')?.touched" class="p-error">
          تاريخ الطلب مطلوب
        </small>
      </div>
  
      <h3>العناصر</h3>
      <p-table [value]="items.controls">
        <ng-template pTemplate="header">
          <tr>
            <th>اسم العنصر</th>
            <th>الوحدة</th>
            <th>الكمية</th>
            <th>سعر الوحدة</th>
            <th>الإجمالي</th>
            <th>إجراء</th>
          </tr>
        </ng-template>
        <ng-template let-item let-i="rowIndex" pTemplate="body">
          <tr [formGroup]="item">
            <td style="min-width: 200px;">
              <input pInputText type="text" formControlName="itemName" placeholder="أدخل اسم العنصر"/>
              <small class="p-error" *ngIf="item.get('itemName')?.invalid && item.get('itemName')?.touched">
                مطلوب
              </small>
            </td>
            <td style="min-width: 100px;">
              <input pInputText type="text" formControlName="unit" placeholder="مثال: كجم، قطعة"/>
              <small class="p-error" *ngIf="item.get('unit')?.invalid && item.get('unit')?.touched">
                مطلوب
              </small>
            </td>
            <td style="min-width: 100px;">
              <input pInputNumber type="number" formControlName="quantity" min="1" placeholder="الحد الأدنى: 1"/>
              <small class="p-error" *ngIf="item.get('quantity')?.invalid && item.get('quantity')?.touched">
                يجب أن يكون أكبر من 0
              </small>
            </td>
            <td style="min-width: 120px;">
              <input pInputNumber type="number" formControlName="unitPrice" min="1" placeholder="الحد الأدنى: 1"/>
              <small class="p-error" *ngIf="item.get('unitPrice')?.invalid && item.get('unitPrice')?.touched">
                يجب أن يكون أكبر من 0
              </small>
            </td>
            <td>{{ calculateTotalPrice(i) | currency:'EGP' }}</td>
            <td>
              <button pButton type="button" icon="pi pi-trash" class="p-button-danger p-button-rounded-sm" (click)="removeItem(i)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <button pButton type="button" label="إضافة عنصر" icon="pi pi-plus" class="p-mt-2" (click)="addItem()"></button>
  
      <button pButton 
              type="submit" 
              label="تقديم أمر الشراء" 
              class="p-mt-3" 
              [disabled]="!isFormValid()"></button>
    </form>
  </div>
  
  <p-toast></p-toast>
