<div class="card" dir="rtl">
  <h2>إدخال المواد الخام</h2>
  
  <div class="flex justify-content-end mb-3">
    <p-button label="تأكيد استلام المواد المحددة" 
              icon="pi pi-check" 
              [loading]="isSubmitting"
              (onClick)="submitSelectedMaterials()"
              [disabled]="!hasSelectedMaterials()">
    </p-button>
  </div>
  
  <p-table [value]="materialOrders" [expandedRowKeys]="expandedRows" styleClass="rtl-table">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"></th>
        <th class="text-center">رقم الشراء</th>
        <th class="text-center">المورد</th>
        <th class="text-center">تاريخ التسليم</th>
        <th class="text-center">التكلفة الإجمالية</th>
        <th class="text-center">الحالة</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>
          <button type="button" 
                  pButton 
                  pRipple 
                  class="p-button-text p-button-rounded p-button-plain"
                  (click)="toggleMaterials(order.id)">
            <i [class]="expandedRows[order.id] ? 'pi pi-chevron-down' : 'pi pi-chevron-left'"></i>
          </button>
        </td>
        <td class="text-center">{{order.purchase_number}}</td>
        <td class="text-center">{{order.supplier.name}}</td>
        <td class="text-center">{{order.delivery_date | date}}</td>
        <td class="text-center">{{order.total_cost}}</td>
        <td class="text-center">
          <p-tag [severity]="getStatusSeverity(order.status)"
                 [value]="order.status_display">
          </p-tag>
        </td>
      </tr>
      <tr *ngIf="expandedRows[order.id]">
        <td colspan="6">
          <div class="p-3">
            <p-table [value]="order.raw_materials" styleClass="rtl-table">
              <ng-template pTemplate="header">
                <tr>
                  <th class="text-center">اختيار</th>
                  <th class="text-center">اسم المادة</th>
                  <th class="text-center">الكمية</th>
                  <!-- <th>الوحدة</th> -->
                  <th class="text-center">سعر الوحدة</th>
                  <th class="text-center">حالة التسليم</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-material>
                <tr>
                  <td class="text-center">
                    <p-checkbox 
                        [ngModel]="isSelected(material)"
                        (onChange)="toggleSelection(material)"
                        [binary]="true">
                    </p-checkbox>
                  </td>
                  <td class="text-center">{{material.raw_material.name}}</td>
                  <td class="text-center">{{material.quantity}}</td>
                  <!-- <td>{{material.raw_material.unit_count}}</td> -->
                  <td class="text-center">{{material.unit_price}}</td>
                  <td class="text-center">
                    <p-tag [severity]="getDeliveryStatusSeverity(material.delivery_status)"
                          [value]="material.delivery_status_display">
                    </p-tag>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast position="top-right" [preventDuplicates]="true" [style]="{width: '450px'}"></p-toast>