<div class="card" dir="rtl">
    <div class="flex justify-content-start mb-3">
        <p-button label="إنشاء طلب" icon="pi pi-plus" (click)="navigateToCreateOrder()"></p-button>
    </div>
    <p-table [value]="orders" [expandedRowKeys]="expandedRows" styleClass="rtl-table">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th>رقم الطلب</th>
          <th>المورد</th>
          <th>التاريخ</th>
          <th>المبلغ الإجمالي</th>
          <th>الحالة</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td (click)="onToggleClick($event, order)"> <!-- Separate click handler for toggle cell -->
            <button type="button" 
                    pButton 
                    pRipple 
                    class="p-button-text p-button-rounded p-button-plain">
              <i [class]="expandedRows[order.id] ? 'pi pi-chevron-down' : 'pi pi-chevron-left'"></i>
            </button>
          </td>
          <td (click)="viewDetails(order)">{{order.purchase_number}}</td>
          <td (click)="viewDetails(order)">{{order.supplier.name}}</td>
          <td (click)="viewDetails(order)">{{order.created_at | date}}</td>
          <td (click)="viewDetails(order)">{{order.total_cost | arabicCurrency}}</td>
          <td (click)="viewDetails(order)">
            <p-tag [severity]="order.status === 'accepted' ? 'success' : 
                              order.status === 'declined' ? 'danger' : 'warn'"
                   [value]="order.status_display">
            </p-tag>
          </td>
        </tr>
        <tr *ngIf="expandedRows[order.id]">
          <td colspan="6">
            <div class="p-3">
              <p-table [value]="order.raw_materials" styleClass="rtl-table">
                <ng-template pTemplate="header">
                  <tr>
                    <th>اسم المنتج</th>
                    <th>الوحدة</th>
                    <th>الكمية</th>
                    <th>سعر الوحدة</th>
                    <th>الحالة</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                  <tr>
                    <td>{{item.raw_material.name}}</td>
                    <td>{{getUnitLabel(item.unit)}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.unit_price | arabicCurrency:'ج.م'}}</td>
                    <td>{{item.delivery_status_display}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
