<div class="container" dir="rtl">
    <p-card styleClass="p-card" (click)="navigateToPurchaseOrders()">
        <div class="card-content">
            <i class="pi pi-shopping-cart icon"></i>
            <h2 class="card-title">طلبات الشراء</h2>
            <p class="card-description">إدارة طلبات الشراء والمعاملات</p>
        </div>
    </p-card>

    <p-card styleClass="p-card" (click)="navigateToMaterialOrders()">
        <div class="card-content">
            <i class="pi pi-box icon"></i>
            <h2 class="card-title">طلبات المواد</h2>
            <p class="card-description">تتبع وإدارة طلبات المواد</p>
        </div>
    </p-card>
</div>
