<div class="card">
  <div class="header-section">
    <button pButton 
            icon="pi pi-arrow-left" 
            class="p-button-text back-button" 
            (click)="goBack()">
    </button>
    <h2>Material Orders</h2>
  </div>

  <p-table [value]="materialOrders" 
           styleClass="p-datatable-hoverable-rows"
           [tableStyle]="{ 'min-width': '50rem' }"
           [loading]="materialOrders.length === 0">
    <ng-template pTemplate="header">
      <tr>
        <th>Receipt Number</th>
        <th>PO Reference</th>
        <th>Supplier</th>
        <th>Date</th>
        <th>Total Amount</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr (click)="viewReceipt(order)" style="cursor: pointer;">
        <td>{{order.receiptNumber}}</td>
        <td>{{order.purchaseOrderId}}</td>
        <td>{{order.supplier}}</td>
        <td>{{order.receivedDate | date}}</td>
        <td>{{order.totalAmount | currency:'USD'}}</td>
        <td>
          <p-tag severity="success" value="Received"></p-tag>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-center p-4">
          No material orders found
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
